includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src

    ignoreErrors:
        - "#Method [a-zA-Z0-9\\_\\\\:\\(\\)]+ has parameter \\$[a-zA-Z0-9_]+ with no value type specified in iterable type array.#"
        - "#Method [a-zA-Z0-9\\_\\\\:\\(\\)]+ return type has no value type specified in iterable type array.#"
        - "#Property [a-zA-Z0-9\\$\\_\\\\:\\(\\)]+ type has no value type specified in iterable type array.#"
        -
            message: "#Illuminate\\\\Contracts\\\\Container\\\\Container#"
            path: src/FlareProvider.php
        -
            # Only reported when Guzzle 8 is installed.
            message: "#return type with generic class GuzzleHttp\\\\HandlerStack does not specify its types#"
            path: src/Recorders/ExternalHttpRecorder/Guzzle/FlareHandlerStack.php
            reportUnmatched: false

    tmpDir: build/phpstan
