parameters:
	ignoreErrors:
		-
			message: "#^Method Spatie\\\\FlareClient\\\\Flare\\:\\:cache\\(\\) should return Spatie\\\\FlareClient\\\\Recorders\\\\CacheRecorder\\\\CacheRecorder\\|Spatie\\\\FlareClient\\\\Recorders\\\\NullRecorder but returns Spatie\\\\FlareClient\\\\Contracts\\\\Recorders\\\\Recorder\\.$#"
			count: 1
			path: src/Flare.php

		-
			message: "#^Method Spatie\\\\FlareClient\\\\Flare\\:\\:command\\(\\) should return Spatie\\\\FlareClient\\\\Recorders\\\\CommandRecorder\\\\CommandRecorder\\|Spatie\\\\FlareClient\\\\Recorders\\\\NullRecorder but returns Spatie\\\\FlareClient\\\\Contracts\\\\Recorders\\\\Recorder\\.$#"
			count: 1
			path: src/Flare.php

		-
			message: "#^Method Spatie\\\\FlareClient\\\\Flare\\:\\:filesystem\\(\\) should return Spatie\\\\FlareClient\\\\Recorders\\\\FilesystemRecorder\\\\FilesystemRecorder\\|Spatie\\\\FlareClient\\\\Recorders\\\\NullRecorder but returns Spatie\\\\FlareClient\\\\Contracts\\\\Recorders\\\\Recorder\\.$#"
			count: 1
			path: src/Flare.php

		-
			message: "#^Method Spatie\\\\FlareClient\\\\Flare\\:\\:glow\\(\\) should return Spatie\\\\FlareClient\\\\Recorders\\\\GlowRecorder\\\\GlowRecorder\\|Spatie\\\\FlareClient\\\\Recorders\\\\NullRecorder but returns Spatie\\\\FlareClient\\\\Contracts\\\\Recorders\\\\Recorder\\.$#"
			count: 1
			path: src/Flare.php

		-
			message: "#^Method Spatie\\\\FlareClient\\\\Flare\\:\\:log\\(\\) should return Spatie\\\\FlareClient\\\\Recorders\\\\LogRecorder\\\\LogRecorder\\|Spatie\\\\FlareClient\\\\Recorders\\\\NullRecorder but returns Spatie\\\\FlareClient\\\\Contracts\\\\Recorders\\\\Recorder\\.$#"
			count: 1
			path: src/Flare.php

		-
			message: "#^Method Spatie\\\\FlareClient\\\\Flare\\:\\:query\\(\\) should return Spatie\\\\FlareClient\\\\Recorders\\\\NullRecorder\\|Spatie\\\\FlareClient\\\\Recorders\\\\QueryRecorder\\\\QueryRecorder but returns Spatie\\\\FlareClient\\\\Contracts\\\\Recorders\\\\Recorder\\.$#"
			count: 1
			path: src/Flare.php

		-
			message: "#^Method Spatie\\\\FlareClient\\\\Flare\\:\\:transaction\\(\\) should return Spatie\\\\FlareClient\\\\Recorders\\\\NullRecorder\\|Spatie\\\\FlareClient\\\\Recorders\\\\TransactionRecorder\\\\TransactionRecorder but returns Spatie\\\\FlareClient\\\\Contracts\\\\Recorders\\\\Recorder\\.$#"
			count: 1
			path: src/Flare.php

		-
			message: "#^Parameter \\#1 \\$callback of function set_error_handler expects \\(callable\\(int, string, string, int\\)\\: bool\\)\\|null, array\\{\\$this\\(Spatie\\\\FlareClient\\\\Flare\\), 'handleError'\\} given\\.$#"
			count: 2
			path: src/Flare.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/FlareConfig.php

		-
			message: "#^Instanceof between Spatie\\\\FlareClient\\\\Recorders\\\\CacheRecorder\\\\CacheSpanEvent and Spatie\\\\FlareClient\\\\Spans\\\\Span will always evaluate to false\\.$#"
			count: 1
			path: src/Recorders/CacheRecorder/CacheRecorder.php

		-
			message: "#^Instanceof between \\*NEVER\\* and Spatie\\\\FlareClient\\\\Spans\\\\SpanEvent will always evaluate to false\\.$#"
			count: 1
			path: src/Recorders/CommandRecorder/CommandRecorder.php

		-
			message: "#^Match arm is unreachable because previous comparison is always true\\.$#"
			count: 1
			path: src/Recorders/CommandRecorder/CommandRecorder.php

		-
			message: "#^Instanceof between Spatie\\\\FlareClient\\\\Recorders\\\\DumpRecorder\\\\DumpSpanEvent and Spatie\\\\FlareClient\\\\Spans\\\\Span will always evaluate to false\\.$#"
			count: 1
			path: src/Recorders/DumpRecorder/DumpRecorder.php

		-
			message: "#^Instanceof between \\*NEVER\\* and Spatie\\\\FlareClient\\\\Spans\\\\SpanEvent will always evaluate to false\\.$#"
			count: 1
			path: src/Recorders/FilesystemRecorder/FilesystemRecorder.php

		-
			message: "#^Match arm is unreachable because previous comparison is always true\\.$#"
			count: 1
			path: src/Recorders/FilesystemRecorder/FilesystemRecorder.php

		-
			message: "#^Instanceof between Spatie\\\\FlareClient\\\\Recorders\\\\GlowRecorder\\\\GlowSpanEvent and Spatie\\\\FlareClient\\\\Spans\\\\Span will always evaluate to false\\.$#"
			count: 1
			path: src/Recorders/GlowRecorder/GlowRecorder.php

		-
			message: "#^Instanceof between Spatie\\\\FlareClient\\\\Recorders\\\\LogRecorder\\\\LogMessageSpanEvent and Spatie\\\\FlareClient\\\\Spans\\\\Span will always evaluate to false\\.$#"
			count: 1
			path: src/Recorders/LogRecorder/LogRecorder.php

		-
			message: "#^Instanceof between \\*NEVER\\* and Spatie\\\\FlareClient\\\\Spans\\\\SpanEvent will always evaluate to false\\.$#"
			count: 1
			path: src/Recorders/QueryRecorder/QueryRecorder.php

		-
			message: "#^Match arm is unreachable because previous comparison is always true\\.$#"
			count: 1
			path: src/Recorders/QueryRecorder/QueryRecorder.php

		-
			message: "#^Instanceof between \\*NEVER\\* and Spatie\\\\FlareClient\\\\Spans\\\\SpanEvent will always evaluate to false\\.$#"
			count: 1
			path: src/Recorders/RedisCommandRecorder/RedisCommandRecorder.php

		-
			message: "#^Match arm is unreachable because previous comparison is always true\\.$#"
			count: 1
			path: src/Recorders/RedisCommandRecorder/RedisCommandRecorder.php

		-
			message: "#^Instanceof between Spatie\\\\FlareClient\\\\Recorders\\\\ThrowableRecorder\\\\ThrowableSpanEvent and Spatie\\\\FlareClient\\\\Spans\\\\Span will always evaluate to false\\.$#"
			count: 1
			path: src/Recorders/ThrowableRecorder/ThrowableRecorder.php

		-
			message: "#^Instanceof between \\*NEVER\\* and Spatie\\\\FlareClient\\\\Spans\\\\SpanEvent will always evaluate to false\\.$#"
			count: 1
			path: src/Recorders/TransactionRecorder/TransactionRecorder.php

		-
			message: "#^Match arm is unreachable because previous comparison is always true\\.$#"
			count: 1
			path: src/Recorders/TransactionRecorder/TransactionRecorder.php
