{
    "main": "src/daemon.php",
    "output": "build/daemon.phar",
    "alias": "flare-daemon.phar",
    "check-requirements": false,
    "banner": false,
    "shebang": false,
    "compactors": [
        "KevinGH\\Box\\Compactor\\PhpScoper"
    ]
}
